* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #3d3d3d;
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

header {
  height: 150px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 5px #3d3d3d;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.516);
}

header img {
  width: 150px;
}

.menuContainer {
  width: 1500px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.menuContainer > ul {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.menuContainer > ul > li > a {
  height: 50px;
  width: 150px;
  display: block;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 18px;
}

.menuContainer > ul > li:hover > a {
  color: #ffc500;
}

.prodcut-nav a {
  display: block;
  text-align: center;
  width: 150px;
  line-height: 50px;
  font-weight: bold;
  overflow: hidden;
  height: 0;
  transition: 0.3s;
  background-color: white;
}

.prodcut-nav a:hover {
  background-color: #ffc500;
  color: white;
}

.menu01:hover .prodcut-nav a {
  height: 50px;
}

/* ν—¤λ” */

.content {
  width: 1400px;
  margin: 100px auto;
}

.content > div {
  margin: 100px 0;
}

.title {
  font-size: 60px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.title::before {
  content: "";
  width: 20px;
  height: 100px;
  background-color: #ffc500;
  display: block;
  margin-right: 20px;
}

.itemBox {
  width: 1200px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: #3d3d3d 0 0 5px;
  border-radius: 20px;
  padding: 10px;
  margin: 20px auto;
}

.about {
  display: flex;
  background-color: #ffc500;
  border-radius: 20px;
  overflow: hidden;
}

.about .img-cover,
.about img {
  width: 700px;
  height: 600px;
  img {
    opacity: 0.8;
  }

  &.img-cover {
    background-color: black;
  }
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  font-weight: bold;
}

.about-text {
  color: white;
  border-bottom: 1px solid #3d3d3d7f;
  padding-bottom: 10px;
}

/* ν‘Έν„° */

footer {
  display: flex;
  box-shadow: #3d3d3d 0 0 5px;
  flex-direction: column;
  text-align: center;
}

footer img {
  width: 150px;
  filter: grayscale(100%);
}

.contact-nav {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.footerNav,
.contact {
  display: flex;
  justify-content: space-around;
  width: 1600px;
  align-items: center;
  margin: 0 auto;
}

.footerNav > div {
  border: 2px solid #ffc500;
  padding: 10px;
  font-size: 18px;
}

.footerNavSns {
  font-size: 30px;
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.footerNavSns a {
  cursor: pointer;
  transition: 0.3s;
}

.footerNavSns div:nth-child(1) a:hover {
  color: skyblue;
}

.footerNavSns div:nth-child(2) a:hover {
  color: greenyellow;
}

.footerNavSns div:nth-child(3) a:hover {
  color: red;
}

.footerNavSns div:nth-child(4) a:hover {
  color: blue;
}

.footerNavSns div:nth-child(5) a:hover {
  color: rgb(0, 102, 255);
}

.footerNavSns div {
  font-size: 30px;
}

.who-safe {
  line-height: 50px;
}
